.about-page {
    margin: 2rem;
}

.top-container{
    display: flex;
    flex-direction: row;
    height: 80vh;
    gap: 2rem;
    
}
.left-content{

}
.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 12px;
    border: 2px solid;

}
.top-img{
    width: 70vh;
    border-radius: 12px;
   margin: 20px;
height: 620px;}
.middle-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.quote-box {
    background-color: #fff6ef;
    color: #7a1f1f;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: -5px 0 0 rgb(0, 0, 0, 0.1);
    font-size: 1.2rem;
    max-width: 500px;
    text-align: left;
    margin-top: 2rem;
}